.LocatorForm {
    /* outline: 1px solid blue; */
    background-color: rgb(128, 135, 143, .5);
    padding-top: 0;
    margin: 0;
    display: inline-block;
    width: 100vw;
    text-align: center;
}
.form {
    /* outline: 1px solid red; */
    padding: 10px;
    
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.form .form-control {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 5px;
    border: 1px solid black;
}
.form .form-select {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 1px solid black;
    border-radius: 5px;
}
.form .form-label, .form-check-label {
    font-weight: 600;
}
.form * {
    display: inline-block;
    padding: 5px;
}
button {
    background-color: #0073bd;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    box-shadow: 1px 1px 3px black;
}
button:hover {
    cursor: pointer;
}
.flash-div {
    width: 100%;
    margin: 0;
    padding: 0;
    color: rgb(216, 19, 19);
}
.flash-div p {
    display: inline;
    position: absolute;
    left: 0;
    top: 150px;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}
@media (max-width: 390px) {
    .LocatorForm .form {
        text-align: left;
    }
    .LocatorForm .btn{
        margin-left: 100px;
    }
    .LocatorForm .content p {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 10px;
        margin-bottom: 0px;
    }
  }